body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
[data-fls-popup-open] body::after {
	opacity: 1;
}
[data-fls-popup] {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	&[data-fls-popup-active] {
		z-index: 150;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;
	}
}
[data-fls-popup-active] [data-fls-popup-body] {
	visibility: visible;
	transform: scale(1);
}
[data-fls-popup-wrapper] {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
[data-fls-popup-body] {
	visibility: hidden;
	transform: scale(0);
	transition:
		transform 0.3s ease 0s,
		visibility 0.3s ease 0s;
	background-color: var(--brand-color);
	padding: 20px;
	width: 100%;
	max-width: 900px;
	border-radius: 4px;
}

[data-fls-popup-youtube-place] iframe {
	width: 100%;
	aspect-ratio: 16 / 9;
}

.contact-small {
  // margin-bottom: clamp(6.25rem, 4.688rem + 6.25vw, 9.375rem);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: clamp(3.75rem, 3.438rem + 1.25vw, 4.375rem);
  padding-bottom: clamp(3.75rem, 3.438rem + 1.25vw, 4.375rem);
  position: relative;
}

.contact-small__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
}

.half-block {
  position: relative;
  z-index: 1;

  @media screen and (min-width: 768px) {
    max-width: 80%;
  }

  @media screen and (min-width: 980px) {
    max-width: 70%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 50%;
  }
}

.half-block__content {
  margin-bottom: 50px;
}

.half-block__text {
  color: #FFF;
  font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;

  @media screen and (min-width: 1028px) {
    max-width: 480px;
  }
}

.small-form {
  // padding: 2.3rem 2.2rem;
  // z-index: 10;
  overflow: hidden;
  position: relative;

  button {
    margin-top: 50px;
    padding: 12px 50px;
  }
}

.popup-order__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}

.popup__image-logo {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}

.contrast-form {

  .input-container {
    margin: 5px 0;
  }

  .input-contact {
    border: 2px solid #fff;
    background-color: #fff
  }

  .inputs-wrapper {

    @media screen and (min-width: 768px) {
      gap: 10px;
    }
  }
}

.popup-order {
  .input-container {
    margin: 5px 0;
  }

  // .input-contact {
  //   border: 2px solid #fff;
  //   background-color: #fff
  // }

  .button-primary {
    margin-top: 25px;
  }

  .inputs-wrapper {

    @media screen and (min-width: 768px) {
      gap: 10px;
    }
  }
}

.order-content {
  margin: 30px 0;
  padding-right: 10px;

		// .order-content__title
		&__title {
      color: #12151A;
      font-size: clamp(1.875rem, 1.563rem + 1.25vw, 2.5rem);
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 36px */
      text-transform: uppercase;
      margin-bottom: 20px;
		}

		// .order-content__subtitle
		&__subtitle {
      color: #12151A;
      font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 19.2px */
		}
}
