// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення CSS-змінних
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@use "includes/variables.css";
@use "@components/layout/popup/popup.scss";
@use "./header";
@use "./footer";
@use "./sections/main-hero.scss";
@use "./sections/services.scss";
@use "./sections/main-gallery.scss";
@use "./sections/cta-lite.scss";
@use "./sections/price-list.scss";
@use "./sections/main-about.scss";
@use "./sections/working-process.scss";
@use "./sections/reviews.scss";
@use "./sections/final-contact.scss";
@use "./sections/faq.scss";
@use "./sections/brands-marquee.scss";
@use "./sections/comparison.scss";

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;

	// Скролл заблоковано
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	[data-fls-loaded] & {
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;

	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: #{$containerWidth}px;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: #{$maxWidthContainer}px;
		} @else {
			@if ($containerPadding>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
		@media (max-width: toEm($pc)) {
			max-width: 970px;
		}
		@media (max-width: toEm($tablet)) {
			max-width: 750px;
		}
		@media (max-width: toEm($mobile)) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.page-gallery {
	margin-top: clamp(3.125rem, 1.875rem + 5vw, 5.625rem);
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
}

.mb40 {
  margin-bottom: clamp(1.875rem, 1.563rem + 1.25vw, 2.5rem);
}

.mb50 {
  margin-bottom: clamp(1.875rem, 1.25rem + 2.5vw, 3.125rem);
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: clamp(3.125rem, 2.5rem + 2.5vw, 4.375rem);
}

.mt10 {
	margin-top: 10px;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
}

.mt40 {
	margin-top: clamp(1.875rem, 1.563rem + 1.25vw, 2.5rem);
}

.mt50 {
	margin-top: clamp(1.875rem, 1.25rem + 2.5vw, 3.125rem);
}

.mt60 {
	margin-top: 60px;
}

.h2 {
	@extend %h2;
}

.h2-white {
	@extend %h2;
	color: #fff;
}

.decor-line-subcolor {
	font-size: 30px;
	font-weight: 600;
	color: var(--brand-subcolor);
}

.decor-thin {
	font-size: 30px;
	font-weight: 400;
	color: var(--brand-subcolor);
}

  .gallery__item.gallery__item--hidden {
    display: none !important;
  }

  .gallery-loadmore-wrap {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

.button-primary {
	display: inline-block;
	padding: 0.8rem 1.5rem;
	background-color: var(--brand-subcolor);
	color: #fff;
	font-weight: 500;
	font-size: 1.2rem;
	border-radius: 4px;
	transition: 0.3s ease-in-out;

	@media screen and (min-width: 768px) {
		&:hover {
			background-color: #f78a50;
		}
	}
}

.breadcrumbs {
  margin-bottom: clamp(1.875rem, 1.25rem + 2.5vw, 3.125rem);
}

.breadcrumbs__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs__item {
  color: #B3B3B3;
  font-size: clamp(0.875rem, 0.813rem + 0.25vw, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  margin: 0 8px;
  color: #fff;
}

.breadcrumbs__link {
  color: #fff;
}

.standard-hero {
	position: relative;
  overflow: hidden;
  // min-height: 85dvh;
	height: 65dvh;
  background-color: #000;
  margin-bottom: clamp(3.125rem, 1.875rem + 5vw, 5.625rem);

  clip-path: polygon(
    0 0,
    100% 0,
    100% 88%,
    50% 96%,
    0 88%
  );

  @media screen and (min-width: 768px) {
    // min-height: unset;
		height: unset;
    aspect-ratio: 10 / 4;

    clip-path: polygon(
      0 0,
      100% 0,
      100% 90%,
      50% 98%,
      0 90%
    );
  }

  @media screen and (min-width: 1100px) {
    aspect-ratio: 11 / 3;
  }
}

.entry-content {
  > *:not(.acf-block-preview):not(section):not(div.wp-block-acf-*) {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// .entry-content > *:not(.alignwide):not(.alignfull) {
//   max-width: 1330px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }

.entry-content > *:not(section):not(.alignwide):not(.alignfull) {
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.entry-content {
  > * {
    margin-top: 0;
  }

  > * + * {
    margin-top: 20px;
  }
}

.entry-content {

  > p,
  > .wp-block-paragraph {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #444;
    font-weight: 400;
    max-width: 750px;
  }

  > .wp-block-heading {
    font-weight: 600;
    line-height: 1.25;
    color: #111;
  }

  > h2.wp-block-heading,
  > h2 {
    @extend %h2;
    margin-top: 40px;
  }

  > h3.wp-block-heading,
  > h3 {
    @extend %h3;
    margin-top: 30px;
  }

  > h4.wp-block-heading,
  > h4 {
    @extend %h4;
    margin-top: 25px;
  }

  > .wp-block-list,
  > ul,
  > ol {
		display: flex;
		flex-direction: column;
		gap: 2px;

    li {
      // margin-bottom: 8px;
			font-size: 1.1rem;
      line-height: 1.6;
			color: #444;
			margin-left: 25px;
			position: relative;

			&::before {
				content: "✓";
				position: absolute;
				left: -18px;
				top: 2px;
				color: var(--brand-subcolor);
				font-size: 16px;
			}
    }
  }

  > * + * {
    margin-top: 20px;
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  background: #25D366;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  z-index: 999;

  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
  }

  svg {
    width: 28px;
    height: 28px;
  }
}