@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("D://websites/felgilab-new/src/assets/svgicons/preview/iconfont.woff2?22cb34356b968cc3769877c44c0af69c") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-ico-triangle"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-ico-timer"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-ico-phone24"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-ico-mail"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-ico-comment"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-ico-callback"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-decor-line-right-accent"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-decor-double-line-white"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-decor-double-line-accent"]::before { 
		content: "\f109"; 
	} 
